/* Mobile first layout */
* {
  margin: 0;
  padding: 0;
  color: #ffc576;
}
body {
  width: 100%;
  display: flex;

}
/* le corps de l'index */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1f2235;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;

}

/* l'entête avec la navBar  */
header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #303030;
}
nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 20px;
  color: #fff;
}

nav ul li {
  list-style: none;
  margin: 8px 0;

}

/* le corps du style aboutme */

.main__box {
width: 100%;
/* height: 100%; */
margin-top: 20px;
padding: 20px;
box-sizing: border-box;
}

.main__box div:first-child {
  width: 70%;
  height: 40px;
  margin: auto;
  padding: 5px 5px 3px 15px;
  font-weight: bold;
  box-sizing: border-box;
}

.main__box div:first-child h2{
  color: #fff;
}

.main__box section {
    color: #fff;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    background-color: #303030;
    margin:  20px auto;
    box-sizing: border-box;
}

.main__box section p {
  margin: auto;
  width: 90%;
  text-align: justify;
}

/* le btn call to action vers le formulaire */
.container__btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  /* padding-top: 15px; */
  /* background-color: #808080; */
}

.btn__formulaire {
  display: flex;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color: #8e6440;
  margin: auto;
}

.btn__formulaire a {
  width: 60%;
  height: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  color: #fff;
}


/* Le footer de aboutme */
footer {
  width: auto;
  height: auto;
  background-color: #303030;
  color: #fff;
}

.container__down {
  width: 90%;
  height: 100%;
  margin: 20px;
  padding-top: 10px;
}
.list__footer {
  width: auto;
  margin: 20px 0 0 10px;
}
.list__footer ul li {
  list-style: none;
  margin-bottom: 10px;
}
/* Le Responsive */


/* Mode Tablette */

@media screen and (min-width: 768px) and (max-width: 1239px) {
  .main-container,.main__box {
    display: flex;
    flex-direction: column;
  }

 .main__box div:first-child {
   width: 60%;
 }
 .main__box div:first-child h2{
   display: flex;
   width: 50%;
   margin: auto;
 }
 .storytelling {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }
.container__btn {
  margin: 25px auto;
}
footer {
  display: flex;
}

.container__down {
  display: flex;
  flex-direction: column;
  margin:  0 auto;
  height: 70%;
  /* padding-top: 10px; */
}

.container__down h4 {
  margin: auto;
}

.list__footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
}

/* Mode Desktop */
@media screen and (min-width: 1240px) {
  .main-container,.main__box {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;

  }

 .main__box div:first-child {
   width: 50%;
 }
 .main__box div:first-child h2{
   display: flex;
   width: 50%;
   margin: auto;
 }
 .storytelling {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

.container__btn {
  margin: 25px auto;
}
footer {
  display: flex;
  height: 400px;
  align-items: flex-end;

}

.container__down {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: auto;
}

.container__down h4 {
  margin: auto;
}

.list__footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

}
