/* Mobile first layout */
* {
  margin: 0;
  padding: 0;
  color: #ffc576;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
}
body {
  background-color: #1f2235;
}
a {
  text-decoration: none;
  color: #fff;
}
/* l'entête avec la navBar  */
header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #303030;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 20px;
  color: #fff;
}

nav ul li {
  list-style: none;
  margin: 8px 0;
}
.logo{
  background-image: url(../images/logo/OlivierALAIN.jpg);
  width: 70px;
  height: 70px;
  background-size: cover;
  border: 8px solid #ffc576;
  border-radius: 50px;
}

/* le container main */
.main {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 20px auto;
}
/* le titre principal */
.main__title{
  width: auto;
  margin: 10px auto;
}
.main__title h1 {
  width: 100%;
  margin: auto;
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main__title h1 span {
display: flex;
justify-content: center;
}
/* l'image de la maquette */

.maquette {
  width: 300px;
  margin: 10px auto;
}
.maquette img {
  width: auto;
  height: 280px;
  margin: auto;
}
/* la description */
.description {
  width: 100%;
  margin: auto;
}
.description__title h2 {
  width: 80%;
  margin: auto;
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
}
.description__title h2  span {
display: flex;
justify-content: center;
}
.description .card {
  /* width: auto; */
  width: 300px;
  height: 300px;
  background-color: #303030;
  border-radius: 20px;
  margin: 20px auto;
  overflow-y: scroll;
  padding: 25px;
  box-sizing: border-box;
}
.description .card p {
  text-align: justify;
  display: flex;
}

.story-list {
  line-height: 1.25;
  text-align: justify;
  padding: 10px;
  box-sizing: border-box;
}
/* le bouton vers le formulaire */
.btn__container{
  width: auto;
  margin: 20px auto;
}
.btn {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #8e6440;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn a {
  color: #fff;
}

/* le footer de l'index */
footer {
  width: auto;
  height: 200px;
  background-color: #303030;
}

.container__down {
  width: 90%;
  height: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.list__footer {
  width: auto;
  margin: 20px 0 0 10px;
}

.list__footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

/* Le Responsive */

/* Mode Tablette */
@media screen and (min-width: 768px) and (max-width: 1239px) {
  /* le header */
  nav ul {
    min-width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
    /* le container main */
    .main {
    display: flex;
  }
  .story {
    width: auto;
    margin: auto;
    display: flex;
  }

  .description__title h2 {
    width: 35%;
    margin: auto;
  }
    .ohmyfood-img{
      gap: 20%;
    }

  /* le footer */
    footer {
      width:100%;
    }
    .container__down{
      width: 80%;
      margin: 20px auto;
    }
    .container__down h4 {
      width: 50%;
      margin: 20px auto;
      display: flex;
      justify-content: center;
    }
    .list__footer {
      display: flex;
      width: 100%;
      margin: auto;
    }
    .list__footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    }
}
/* Mode desktop */
@media screen and (min-width: 1240px) {
  /* le header */
  nav {
    max-width: 1500px;
    margin: auto;
  }
  nav ul {
    min-width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /* le container main */
  .main {
    display: flex;
    width: 100%;
    gap: 10%;
  }
   .chouette{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px;
    box-sizing: border-box; */
  }
  .maquette {
    width: auto;
    padding: 10px;
    box-sizing: border-box;
  }

  .maquette img {
    width: auto;
    height: 600px;
    margin: 15% auto;
  }

  .description__title {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .description__title h2 {
    width: 70%;
    margin: auto;
    font-size: 1.5rem;
  }
  .description{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin: 20px auto;
    box-sizing: border-box;

  }
  .story__container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10%;
    box-sizing: border-box;
  }
  .story {
    width: auto;
    margin: auto;
    display: flex;
    gap: 10%;
  }

/* le footer */
    footer {
      width:100%;
    }
    .container__down{
      max-width: 1500px;
      margin: 20px auto;
    }
    .container__down h4 {
      width: 50%;
      margin: 20px auto;
      display: flex;
      justify-content: center;
    }
    .list__footer {
      display: flex;
      width: 100%;
      margin: auto;
    }
    .list__footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
  }
}
