/* Animation hover sur les liens de la navBar*/
nav ul li a:hover,
nav ul li a:focus  {
  color: #ffc576;
}
nav ul li:hover,
nav ul li:focus  {
  transform: scale(1.1);
}

/* Animation hover sur les liens du footer*/
.list__footer ul li a:hover,
.list__footer ul li a:focus  {
  color: #ffc576;
}
.list__footer ul li:hover,
.list__footer ul li:focus  {
  transform: scale(1.1);
}

/* Animation hover sur les card de services */
.services-card .integration p:hover,
.services-card .integration p:focus,
.services-card .development p:hover,
.services-card .development p:focus {
  color: #fff;
}

/* Animation hover sur les card de projets */
.Projects-Card:hover,
.Projects-Card:focus {
  transform: scale(1.1);
}

/* Animation hover sur le btn */
.container__btn:hover,
.container__btn:focus {
  transform: scale(1.1);
}
