/* Mobile first layout */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
}

/* le corps de l'index */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2500px;
  background-color: #1f2235;
}

a {
  text-decoration: none;
  color: #fff;
}

/* l'entête avec la navBar  */
header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #303030;
}

nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 20px;
  color: #fff;
}

nav ul li {
  list-style: none;
  margin: 8px 0;
}

/* le corps du Portfolio */
.main__box {
  height: 2500px;
  width: 100%;
  margin-top: 20px;
  /* box-sizing: content-box; */
}
.main__box section {
  width: inherit;
  height: inherit;
  background-color: black;
  padding: 10px;
}
.card {
  width: 80%;
  height: 310px;
  box-sizing: border-box;;
  margin-bottom: 20px;
  padding: 10px;
  background-color: lightgray;
}
.img__box{
  width: auto;
  height: 150px;
}
#reservia .card .img__box {
  background-image: url(../images/Projet-2_Reservia-2.png);
  background-size: cover;
}
#ohmyfood .card .img__box {
  background-image: url(../images/Projet-3_Ohmyfood_Accueil-3.png);
  background-size: cover;
}
#chouette-agence .card .img__box {
  background-image: url(../images/Projet-4_La_chouette_Agence_Le_Site-2.png);
  background-size: cover;
}



/* .text {
  width: 100%;
  height: 100%;
  margin-top: -150px;
} */
.card h2,
.card p {
  /* color: #fff; */
  text-align: justify;
  background-color: #fff;
}
.card p {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  font-size: 0.9rem;
}


/* Le footer de l'index */
footer {
  width: auto;
  height: auto;
  background-color: #303030;
  margin-top: 450px;
  color: #fff;
}

.container__down {
  width: 90%;
  height: inherit;
  margin: 20px;
}

.list__footer {
  width: auto;
  margin: 20px 0 0 10px;
}

.list__footer ul li {
  list-style: none;
  margin-bottom: 10px;
}
