/* Mobile first layout */
* {
  margin: 0;
  padding: 0;
  color: #ffc576;
}

body {
  width: 100%;
  display: flex;
}

/* le corps de l'index */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1f2235;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: #fff;
}

/* l'entête avec la navBar  */
header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #303030;
}

nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 20px;
  color: #fff;
}

nav ul li {
  list-style: none;
  margin: 8px 0;
}

/* le corps du Portfolio */
.main__box {
  /* height: 2000px; */
  width: 100%;
  gap: 10%;
  /* margin-top: 20px; */
  box-sizing: border-box;
}

/* Le slogan et titre h1 */
/* le slogan */
.titre__box {
  width: 75%;
  margin: auto;
}
.welcome {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome span {
  font-weight: bold;
  font-size: 20px;
  color: #ffc576;
  /* width: 55%; */
  height: 100px;
  padding: 8px;
  margin: auto;
  justify-content: center;
}

.welcome span:last-child {
  /* width: 45%; */
  margin-top: 10px;
}

/* le bloc du titre h1 */
.main-title {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title h1 {
  font-size: 1.25rem;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 span {
  margin: auto;
  padding: 8px;
  color: #fff;
}
/* h1 span:first-child {
  width: 80%;
}
h1 span:nth-child(2) {
  width: 85%;
}
h1 span:last-child {
  width: 90%;
} */

/* les sections des présentations
des services et des réalisations */
.mes__services, .mes__projets {
  width: 100%;
  /* margin: 30px auto; */
  padding: 20px 0;
  margin: auto;
  gap: 1.5rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}
.mes__services h2, .mes__projets h2 {
  width: 70%;
  margin: auto;

}


.container__projects,
.container__services {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.15rem;
  padding: 10px 0;
  /* background-color: #808080; */
}


/* Mes Services */
.services-card {
  width: 280px;
  height: 350px;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.integration, .development {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.integration h3, .development h3 {
  width: 80%;
  margin: auto;
  color: #fff;
}
.integration p, .development p {
  width: 100%;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  /* text-align: justify; */
  line-height: 125%;
  font-size: .9rem;
}

/* Mes réalisations */

.reservia {
  background-image: url(../images/Projet-2_Reservia-2.png);
}
.ohmyfood {
  background-image: url(../images/Projet-3_Ohmyfood_Accueil-3.png);
}
.chouette-agence {
  background-image: url(../images/Projet-4_La_chouette_Agence_Le_Site-2.png);
}

.reservia,
.ohmyfood,
.chouette-agence {
  background-size: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 85%;
}

.Projects-Card {
  width: 280px;
  height: 250px;
  background-color: #303030;
  border-radius: 15px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.title-projects {
  justify-content: center;
  margin: auto;
}

/* le btn call to action vers le formulaire */
.container__btn {
  width: 100%;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  /* padding-top: 15px; */
  /* background-color: #808080; */
}

.btn__formulaire {
  display: flex;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color: #8e6440;
  margin: auto;
}

.btn__formulaire a {
  width: 60%;
  height: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  color: #fff;
}

/* Le footer de l'index */
footer {
  width: auto;
  height: 200px;
  background-color: #303030;
  margin-top: 50px;
  color: #fff;
}

.container__down {
  width: 90%;
  height: 80%;
  margin: 20px;
}

.list__footer {
  width: auto;
  margin: 20px 0 0 10px;
}

.list__footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

/* le mode Responsive */

/* Mode Tablette */
/* @media screen and (min-width: 768px) and (max-width:1239px){
  .main-container, .main__box {
    display: flex;
    flex-direction: column;
  }
  .mes__services, .mes__projets {
    display: flex;
    flex-direction: column;
  }
}
.container__projects {
  display: flex;
  flex-direction: row;
} */
