
/* Mobile first layout */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  display: flex;

}

.main-container {
  display: flex;
  width: 100%;
  height: 1500px;

  background-color: #808080;
  /* background-image: url(../images/jungle-1807476_960_720.jpg);
  background-size: cover; */
}

a {
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 20px;
}
