
/* Mobile first layout */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  display: flex;

}

.main-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 1500px;

  /* background-color: #808080; */
  background-image: url(../images/jungle-1807476_960_720.jpg);
  background-size: cover;
  background-position-x: -800px;
  
}

a {
  text-decoration: none;
  color: #fff;

}

header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #303030;
}
nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 20px;
  color: #fff;
}

nav ul li {
  list-style: none;
  margin: 8px 0;

}

.main-box {
height: 1000px;
width: 100%;

margin-top: 20px;

}
