
/* Mobile first layout */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
    /* background-color: #303030; */
}

.main-container {
  width: 100%;
  height: 1500px;

background-image: url(../images/jungle-1807476_960_720.jpg);
background-size: cover;
}

a {
  text-decoration: none;
}
