
/* Mobile first layout */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  display: flex;

}
/* le corps de l'index */

.main-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 1500px;

  /* background-color: #808080; */
  background-image: url(../images/jungle-1807476_960_720.jpg);
  background-size: cover;
  background-position-x: -800px;

}

a {
  text-decoration: none;
  color: #fff;

}

/* l'entête  */

header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #303030;
}
nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 20px;
  color: #fff;
}

nav ul li {
  list-style: none;
  margin: 8px 0;

}

/* le corps du Portfolio */

.main-box {
height: 1000px;
width: 100%;

margin-top: 20px;
padding: auto;

}

/* Le slogan et titre h1 */
.welcome {
  width: auto;
  height: 50px;
  margin: 10px 0;
  background-color: darkorange;
  font-size: 28px;

}
.main-title {
  width: 100%;
  height: 120px;
  margin: 20px 0;
  background-color: darkorange;
  padding: auto;

}
.main-title h1 {
  font-size: 32px;
  width: 100%;
}

/* les sections des présentations
des services et des réalisations */

.mes-services, .mes-projets {
    width: 100%;
    height: 450px;
    margin: 100px 0 0 0;
    padding: auto;
    background-color: #808080;

}


.OC-projects
