/* Mobile first layout */

* {
  margin: 0;
  padding: 0;
  color: #ffc576;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
}
body {
  background-color: #1f2235;
}
a {
  text-decoration: none;
  color: #fff;
}
/* l'entête avec la navBar  */
header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #303030;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 20px;
  color: #fff;
}

nav ul li {
  list-style: none;
  margin: 8px 0;
}
.logo{
  background-image: url(../images/logo/OlivierALAIN.jpg);
  width: 70px;
  height: 70px;
  background-size: cover;
  border: 8px solid #ffc576;
  border-radius: 50px;
}

/* le container main */
.main {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 20px auto;
}
.title__box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.welcome, .main__title {
  display: flex;
  justify-content: center;
}
.welcome__block p {
  font-size: 1.5rem;
  margin: 20px auto;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 span:first-child {
  width: 90%;
  margin: auto;
}
h1 span {
  color: #fff;
}

/* Mes réalisations */
.reservia {
  background-image: url(../images/Projet-2_Reservia-2.png);
}

.ohmyfood {
  background-image: url(../images/Projet-3_Ohmyfood_Accueil-3.png);
}

.chouette {
  background-image: url(../images/Projet-4_La_chouette_Agence_Le_Site-2.png);
}

.reservia,
.ohmyfood,
.chouette {
  background-size: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 250px;
}

.card {
  width:  300px;
  height: 300px;
  margin: 20px auto;
  /* border: 5px solid black; */
  border-radius: 0 0 20px 20px;
}

.OC__projects {
  width: 80%;
  margin: 0 auto;
}
/* .OC__projects a {
  gap: 20px;
} */
.projects__title{
  width: 100%;
  display: flex;
  justify-content: center;
}

.project__title {
  font-size: 1.15rem;
  /* background-color: #303030; */
  display: flex;
}
.project__title h3 {
  /* width: 50%; */
  margin: 10px auto;
  justify-content: center;
  color: #fff;
}
/* le formulaire */
.consigne {
  width: 70%;
  /* height: 180px; */
  color: #fff;
  margin: 20px auto;
  /* background-color: darkgreen; */
  /* box-sizing: border-box; */
}
.consigne p {
    width: 80%;
    margin: auto;
    text-align: justify;
    line-height: 1.75;
}

input, button, textarea {
  color: #000;
}
.contact__box {
  width: 350px;
  margin: auto;
  display: flex;
}
form {
  width: 90%;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}
.form-group, .btn__box {
  margin: 10px auto;
  display: flex;
  justify-content: flex-end;
}
label {
  margin-right: 10px;
}
.textarea {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}
.textarea label {
  margin-bottom: 10px;
}
/* La partie d'informaion sur mes langages */
.techno {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.techno__title {
  width: auto;
  margin: auto;
}
.techno__title h2 {
  width: 100%;
  margin: auto;
}
.language__box {
  width: 300px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

/* le footer de l'index */
footer {
  width: auto;
  height: 200px;
  background-color: #303030;
}

.container__down {
  width: 90%;
  height: 80%;
  /* margin: auto; */
  padding: 20px;
  box-sizing: border-box;
}

.list__footer {
  width: auto;
  margin: 20px 0 0 10px;
}

.list__footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

/* Le Responsive */

/* Mode Tablette */
@media screen and (min-width: 768px) and (max-width: 1239px) {

  nav ul {
    min-width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: darkgreen; */
  }
    footer {
      width:100%;
    }
    .container__down{
      width: 80%;
      margin: 20px auto;
      /* background-color: lightgray; */
    }
    .container__down h4 {
      width: 50%;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      /* background-color: darkgray; */
    }
    .list__footer {
      display: flex;
      width: 100%;
      margin: auto;
      /* background-color: lightgreen; */
    }
    .list__footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    /* background-color: darkgreen; */
    }
}
/* Mode desktop */
@media screen and (min-width: 1240px) {
  nav {
    max-width: 1500px;
    margin: auto;
  }
  nav ul {
    min-width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: darkgreen; */
  }
  .OC__projects{
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
    footer {
      width:100%;
    }
    .container__down{
      max-width: 1500px;
      margin: 20px auto;
      /* background-color: lightgray; */
    }
    .container__down h4 {
      width: 50%;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      /* background-color: darkgray; */
    }
    .list__footer {
      display: flex;
      width: 100%;
      margin: auto;
      /* background-color: lightgreen; */
    }
    .list__footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    /* background-color: darkgreen; */
  }
}
