
/* Mobile first layout */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  display: flex;

}
/* le corps de l'index */
.main-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 1700px;

  background-color: #1f2235;
  /* background-image: url(../images/jungle-1807476_960_720.jpg); */
  /* background-image: url(../images/forestSheets.png); */
  /* background-image: url(../images/the-1865639_960_720.jpg); */
  /* background-size: cover; */
  /* background-position-x: -800px; */
  /* background-position-x: -600px; */

}

a {
  text-decoration: none;
  color: #fff;

}

/* l'entête avec la navBar  */
header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #303030;
}
nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 20px;
  color: #fff;
}

nav ul li {
  list-style: none;
  margin: 8px 0;

}

/* le corps du Portfolio */
.main__box {
height: 1000px;
width: 100%;

margin-top: 20px;
padding: auto;

}

/* Le slogan et titre h1 */

/* le slogan */
.welcome {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.welcome span {
 font-weight: bold;
 font-size: 22px;
 color: #ffc576;
 width: 45%;
 height: 100px;
 padding: 8px;
 margin: auto;
 justify-content: center;
}
.welcome span:last-child {
  width: 35%;
  margin-top: 10px;
}

/* le bloc du titre h1 */
.main-title {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title h1 {
  font-size: 28px;
  color: #fff;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h1 span:first-child {
  width: 75%;
  margin: auto;
  padding: 8px;
}
h1 span:nth-child(2) {
  width: 80%;
  margin: auto;
  padding: 8px;
}
h1 span:last-child {
  width: 85%;
  margin: auto;
  padding: 8px;
}

/* les sections des présentations
des services et des réalisations */
.mes__services, .mes__projets {
    width: 100%;
    height: 450px;
    margin: 100px 0 0 0;
    padding: auto;
    background-color: #808080;

}
.Container__projects {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.Container__projects a {
  display: inline-block;
}
/* Mes réalisations */
.Projects-Card {
  width: 120px;
  height: 150px;

}

/* le btn call to action vers le formulaire */
.container__btn {
  width: 100%;
  height: 100px;
  display: flex;
}
.btn__formulaire {
  display: flex;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color: #8e6440;
  margin: auto;
}
.btn__formulaire a {
  width: 60%;
  height: 50%;
  margin: auto;
  /* background-color: #808080; */
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  color: #fff;
}



/* Le footer de l'index */
footer {
  width: 100%;
  height: 120px;
  background-color: #303030;
  margin-top: 420px;
  padding: 20px 0 0 50px;
  color: #fff;
}
