
/* Mobile first layout */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  display: flex;

}
/* le corps de l'index */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2500px;
  background-color: #1f2235;
}

a {
  text-decoration: none;
  color: #fff;

}

/* l'entête avec la navBar  */
header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #303030;
}
nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 20px;
  color: #fff;
}

nav ul li {
  list-style: none;
  margin: 8px 0;

}

/* le corps du Portfolio */
.main__box {
height: 2000px;
width: 100%;
margin-top: 20px;

}

/* Le slogan et titre h1 */

/* le slogan */
.welcome {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.welcome span {
 font-weight: bold;
 font-size: 20px;
 color: #ffc576;
 width: 55%;
 height: 100px;
 padding: 8px;
 margin: auto;
 justify-content: center;
}
.welcome span:last-child {
  width: 45%;
  margin-top: 10px;
}

/* le bloc du titre h1 */
.main-title {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title h1 {
  font-size: 24px;
  color: #fff;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h1 span:first-child {
  width: 90%;
  margin: auto;
  padding: 8px;
}
h1 span:nth-child(2) {
  width: 90%;
  margin: auto;
  padding: 8px;
}
h1 span:last-child {
  width: 90%;
  margin: auto;
  padding: 8px;
}

/* les sections des présentations
des services et des réalisations */
.mes__services, .mes__projets {
    width: 100%;
    height: 900px;
    margin: 100px 0 0 0;
    background-color: #808080;

}
.Container__projects {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.Container__projects a {
  display: inline-block;
}
/* Mes réalisations */
.Projects-Card {
  width: 90%;
  height: 250px;
  background-color: darkgreen;
  border-radius: 15px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}


/* le btn call to action vers le formulaire */
.container__btn {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.btn__formulaire {
  display: flex;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color: #8e6440;
  margin: auto;
}
.btn__formulaire a {
  width: 60%;
  height: 50%;
  margin: auto;
  /* background-color: #808080; */
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  color: #fff;
}



/* Le footer de l'index */
footer {
  width: 100%;
  height: auto;
  background-color: #303030;
  margin-top: 360px;
  color: #fff;
}

.container__down {
  width: 90%;
  height: inherit;
  margin: 20px;
}
.list__footer {
  width: auto;
  margin: 20px 0 0 10px;
}
.list__footer ul li {
  list-style: none;
  margin-bottom: 10px;
}
